/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  /* force right scrollbar to keep pages uniformly centered */
  height: 100%;
  margin-bottom: 1px; }

body {
  position: relative;
  font: 14px verdana, arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0; }

/* LINKS */
a:active {
  /* remove firefox link outlines */
  outline: none; }

a:focus {
  /* remove firefox link outlines */
  -moz-outline-style: none; }

a:link, a:visited {
  color: #006ab3; }

a:active, a:hover {
  color: #0097ff; }

#wrapper .hottip a:link, #wrapper .hottip a:visited {
  color: #006ab3; }

#wrapper .hottip a:hover, #wrapper .hottip a:active {
  color: #0097ff; }

#left_nav a:link, #left_nav a:visited {
  color: #000; }

#left_nav a:hover, #left_nav a:active {
  background-color: #fff; }

#left_nav_books a:link, #left_nav_books a:visited {
  color: #000; }

#left_nav_books a:hover, #left_nav_books a:active {
  background-color: #fff; }

#left_nav_info a:link, #left_nav_info a:visited {
  color: #000; }

#left_nav_info a:hover, #left_nav_info a:active {
  background-color: #fff; }

#left_nav_articles a:link, #left_nav_articles a:visited {
  color: #000; }

#left_nav_articles a:hover, #left_nav_articles a:active {
  background-color: #fff; }

#left_nav_basic a:link, #left_nav_basic a:visited {
  color: #000; }

#left_nav_basic a:hover, #left_nav_basic a:active {
  background-color: #fff; }

#left_nav_advanced a:link, #left_nav_advanced a:visited {
  color: #000; }

#left_nav_advanced a:hover, #left_nav_advanced a:active {
  background-color: #fff; }

#left_nav_citations a:link, #left_nav_citations a:visited {
  color: #000; }

#left_nav_citations a:hover, #left_nav_citations a:active {
  background-color: #fff; }

#wrapper {
  position: relative;
  width: 1040px;
  margin: 0 auto; }

#page {
  background: #fff;
  font-size: 14px;
  line-height: 1.6em;
  border: 1px solid #a4aca2;
  width: 991px;
  margin: 10px 24px; }

#header {
  padding-bottom: 1px; }

/* Begin */
#left_nav {
  float: left;
  background: #fff url(images/bg_leftnav.jpg) no-repeat;
  width: 140px;
  min-height: 320px;
  height: auto !important;
  height: 320px;
  padding: 234px 0 0 0; }

#left_nav a, #left_nav b {
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.2em;
  width: 112px;
  padding: 4px 13px 4px 15px; }

#left_nav b {
  background-color: #fff; }

#left_nav .header_image {
  padding: 0 0 10px 0; }

/* Books */
#left_nav_books {
  float: left;
  background: #fff url(images/bg_leftnav_books.jpg) no-repeat;
  width: 140px;
  min-height: 320px;
  height: auto !important;
  height: 320px;
  padding: 234px 0 0 0; }

#left_nav_books a, #left_nav_books b {
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.2em;
  width: 112px;
  padding: 4px 13px 4px 15px; }

#left_nav_books b {
  background-color: #fff; }

#left_nav_books .header_image {
  padding: 0 0 10px 0; }

/* Info */
#left_nav_info {
  float: left;
  background: #fff url(images/bg_leftnav_info.jpg) no-repeat;
  width: 140px;
  min-height: 320px;
  height: auto !important;
  height: 320px;
  padding: 234px 0 0 0; }

#left_nav_info a, #left_nav_info b {
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.2em;
  width: 112px;
  padding: 4px 13px 4px 15px; }

#left_nav_info b {
  background-color: #fff; }

#left_nav_info .header_image {
  padding: 0 0 10px 0; }

/* Articles */
#left_nav_articles {
  float: left;
  background: #fff url(images/bg_leftnav_articles.jpg) no-repeat;
  width: 140px;
  min-height: 320px;
  height: auto !important;
  height: 320px;
  padding: 234px 0 0 0; }

#left_nav_articles a, #left_nav_articles b {
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.2em;
  width: 112px;
  padding: 4px 13px 4px 15px; }

#left_nav_articles b {
  background-color: #fff; }

#left_nav_articles .header_image {
  padding: 0 0 10px 0; }

/* Basic */
#left_nav_basic {
  float: left;
  background: #fff url(images/bg_leftnav_basic.jpg) no-repeat;
  width: 140px;
  min-height: 320px;
  height: auto !important;
  height: 320px;
  padding: 234px 0 0 0; }

#left_nav_basic a, #left_nav_basic b {
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.2em;
  width: 112px;
  padding: 4px 13px 4px 15px; }

#left_nav_basic b {
  background-color: #fff; }

#left_nav_basic .header_image {
  padding: 0 0 10px 0; }

/* Advanced */
#left_nav_advanced {
  float: left;
  background: #fff url(images/bg_leftnav_advanced.jpg) no-repeat;
  width: 140px;
  min-height: 320px;
  height: auto !important;
  height: 320px;
  padding: 234px 0 0 0; }

#left_nav_advanced a, #left_nav_advanced b {
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.2em;
  width: 112px;
  padding: 4px 13px 4px 15px; }

#left_nav_advanced b {
  background-color: #fff; }

#left_nav_advanced .header_image {
  padding: 0 0 10px 0; }

/* Citations */
#left_nav_citations {
  float: left;
  background: #fff url(images/bg_leftnav_citations.jpg) no-repeat;
  width: 140px;
  min-height: 320px;
  height: auto !important;
  height: 320px;
  padding: 234px 0 0 0; }

#left_nav_citations a, #left_nav_citations b {
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.2em;
  width: 112px;
  padding: 4px 13px 4px 15px; }

#left_nav_citations b {
  background-color: #fff; }

#left_nav_citations .header_image {
  padding: 0 0 10px 0; }

/* MAIN NAV */
#main_nav {
  float: left;
  width: 851px;
  height: 29px;
  padding: 0 0 27px 0; }

#main_nav a, #main_nav b {
  float: left;
  /*text-indent:		-9999px;*/
  font-size: 1px;
  height: 29px;
  width: 123px; }

#main_nav a:link, #main_nav a:visited {
  background-position: 0 0; }

#main_nav a:active, #main_nav a:hover {
  background-position: 0 -29px; }

#main_nav b {
  background-position: 0 -58px; }

#main_nav .begin {
  background-image: url(images/nav_begin.gif);
  background-repeat: no-repeat;
  width: 126px; }

#main_nav .info {
  background-image: url(images/nav_info.gif);
  background-repeat: no-repeat;
  width: 140px; }

#main_nav .findbooks {
  background-image: url(images/nav_findbooks.gif);
  background-repeat: no-repeat;
  width: 100px; }

#main_nav .findarticles {
  background-image: url(images/nav_findarticles.gif);
  background-repeat: no-repeat;
  width: 115px; }

#main_nav .basicsearch {
  background-image: url(images/nav_basicsearch.gif);
  background-repeat: no-repeat;
  width: 115px; }

#main_nav .advsearch {
  background-image: url(images/nav_advsearch.gif);
  background-repeat: no-repeat;
  width: 135px; }

#main_nav .makecitations {
  background-image: url(images/nav_makecitations.gif);
  background-repeat: no-repeat;
  width: 120px; }

/* CONTENT */
#content {
  float: left;
  width: 819px;
  padding: 0 0 0 32px;
  margin: 0 0 40px 0; }

#content.intro {
  width: 819px;
  padding: 0 0 0 32px;
  margin: 0 0 40px 0; }

#content h1 {
  font: 30px georgia, serif;
  font-weight: normal;
  color: #005b87;
  width: 640px;
  margin: 0;
  padding: 0 0 9px 0; }

#content h2 {
  font: 30px georgia, serif;
  font-weight: normal;
  color: #a35a37;
  margin: 0;
  padding: 0 0 9px 0; }

#content h3 {
  font: 30px georgia, serif;
  font-weight: normal;
  color: #808a03;
  margin: 0;
  padding: 0 0 9px 0; }

#content h4 {
  font: 30px georgia, serif;
  font-weight: normal;
  color: #b2941a;
  margin: 0;
  padding: 0 0 9px 0; }

#content h5 {
  font: 30px georgia, serif;
  font-weight: normal;
  color: #005B87;
  margin: 0;
  padding: 0 0 9px 0; }

#content h6 {
  font: 30px georgia, serif;
  font-weight: normal;
  color: #e88d01;
  margin: 0;
  padding: 0 0 9px 0; }

#content h6#citations {
  color: #B93F40; }

/*#content p {
	width:				640px;
	margin:				0;
	padding:			0 0 10px 0;
}*/
#content .flash {
  padding: 13px 0 14px 0; }

#iconList {
  margin: 20px 0 0 20px; }

#iconList p {
  float: left;
  margin-left: 10px;
  width: 85%; }

#iconList img {
  float: left;
  margin-bottom: 10px; }

/* ABSOLUTELY POSITIONED ELEMENTS */
/* Creative Commons logo */
#cc_logo {
  position: absolute;
  bottom: 10px;
  left: 40px; }

/* PRIMO logo */
#primo_logo {
  position: absolute;
  bottom: 10px;
  right: 40px; }

/* Hot Tip */
#wrapper .hottip {
  position: absolute;
  top: 198px;
  right: 0;
  background: transparent url(images/bg_hottip.gif) repeat-y;
  color: #006ab3;
  width: 164px;
  padding: 15px 0; }

#wrapper .hottip_vert {
  position: absolute;
  top: 355px;
  right: 300px;
  background: transparent url(images/bg_hottip.gif) repeat-y;
  color: #006ab3;
  width: 350px;
  padding: 15px 0; }

#wrapper .hottip a {
  display: block;
  text-decoration: none;
  padding: 0 0 0 9px;
  margin: 0; }

/* Page Nav */
#wrapper .page_nav {
  position: absolute;
  /*	bottom:				18px; */
  /*	*bottom:			28px; */
  top: 140px;
  *top: 140px;
  right: 53px;
  color: #787979; }

#wrapper .page_nav a {
  float: left;
  text-indent: -9999px;
  font-size: 1px;
  line-height: .1em;
  width: 14px;
  height: 12px;
  padding: 0;
  margin: 2px 0 0 0;
  *margin: 3px 0 0 0; }

#wrapper .page_nav a:link, #wrapper .page_nav a:visited {
  background-position: 0 0; }

#wrapper .page_nav a:hover, #wrapper .page_nav a:active {
  background-position: 0 -12px; }

#wrapper .page_nav .arrow_back {
  background-image: url(images/arrow_back.gif);
  background-repeat: no-repeat; }

#wrapper .page_nav .arrow_forward {
  background-image: url(images/arrow_forward.gif);
  background-repeat: no-repeat; }

#wrapper .page_nav .page_numbers {
  float: left;
  padding: 0 5px; }

.end {
  clear: both;
  font-size: 1px;
  line-height: .1em; }

form {
  display: inline; }

object {
  border: 2px dotted #10FF0B; }
